In [54]:
from pyjedai.datamodel import Data
import pandas as pd

d1 = pd.read_csv("../data/ccer/D2/abt.csv", sep='|')
d2 = pd.read_csv("./../data/ccer/D2/buy.csv", sep='|')
gt = pd.read_csv("./../data/ccer/D2/gt.csv", sep='|')

#### Abt-Buy dataset derives from the online retailers (Abt.com) and (Buy.com). 
#### 1081 entities from abt.com 
#### 1092 entities from buy.com 
#### 1097 matching record pairs between the two data sources

In [55]:
data = Data(
    dataset_1=d1,
    attributes_1=['id','name','description'],
    id_column_name_1='id',
    dataset_2=d2,
    attributes_2=['id','name','description'],
    id_column_name_2='id',
    ground_truth=gt,
)

In [56]:
data.dataset_1.head(2)

,id,name,description,price
0,0,Sony Turntable - PSLX350H,Sony Turntable - PSLX350H/ Belt Drive System/ ...,
1,1,Bose Acoustimass 5 Series III Speaker System -...,Bose Acoustimass 5 Series III Speaker System -...,399.0

In [57]:
data.dataset_2.head(2)

,id,name,description,price
0,0,Linksys EtherFast EZXS88W Ethernet Switch - EZ...,Linksys EtherFast 8-Port 10/100 Switch (New/Wo...,
1,1,Linksys EtherFast EZXS55W Ethernet Switch,5 x 10/100Base-TX LAN,

In [60]:
data.ground_truth.head(2)

    D1   D2
0  206  216
1   60   46

In [62]:
from pyjedai.block_building import (
    StandardBlocking,
    QGramsBlocking,
    SuffixArraysBlocking,
    ExtendedSuffixArraysBlocking,
    ExtendedQGramsBlocking
)
from pyjedai.block_cleaning import BlockFiltering

In [82]:
bb = SuffixArraysBlocking(suffix_length=3)
blocks = bb.build_blocks(data)
_ = bb.evaluate(blocks)

Suffix Arrays Blocking: 100%|██████████| 2152/2152 [00:00<00:00, 4122.23it/s]

***************************************************************************************************************************
                                         Μethod:  Suffix Arrays Blocking
***************************************************************************************************************************
Method name: Suffix Arrays Blocking
Parameters:
	Suffix length: 3
	Maximum Block Size: 53
Runtime: 0.5240 seconds
───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Performance:
	Precision:      0.52%
	Recall:        98.88%
	F1-score:       1.04%
───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

In [91]:
bb = SuffixArraysBlocking(suffix_length=3)
blocks = bb.build_blocks(data)
bc = BlockFiltering(ratio=0.9)
blocks = bc.process(blocks, data)
_ = bc.evaluate(blocks)
print(_)

Suffix Arrays Blocking:   0%|          | 0/2152 [00:00<?, ?it/s]

Suffix Arrays Blocking: 100%|██████████| 2152/2152 [00:00<00:00, 4226.92it/s]
Block Filtering: 100%|██████████| 3/3 [00:00<00:00,  9.93it/s]

***************************************************************************************************************************
                                         Μethod:  Block Filtering
***************************************************************************************************************************
Method name: Block Filtering
Parameters:
	Ratio: 0.9
Runtime: 0.3051 seconds
───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Performance:
	Precision:      0.79%
	Recall:        97.86%
	F1-score:       1.56%
───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
{'Precision %': 0.7881500553875632, 'Recall %': 97.86245353159852, 'F1 %': 1.563706563706564, 'True Positives': 1053, 'False Positives': 132551, 'True Negatives': 1156677, 'False Negatives': 23}